[submodule "libs/log.c"]
	path = libs/log.c
	url = https://github.com/rxi/log.c.git
[submodule "libs/hashmap"]
	path = libs/hashmap
	url = https://github.com/chrisrhayden/hashmap
[submodule "libs/dynamic_array"]
	path = libs/dynamic_array
	url = https://github.com/chrisrhayden/dynamic_array
